.fixed{
    .tooltips{
        display: none;
    }
    .fixed-img{
        transition-duration: .3s;
        background-repeat: no-repeat;
        background-image: url(../../images/btn.png);
    }
}
.fixed:hover{
    .tooltips{
        display: block;
    }
    .fixed-img{
        background-image: url(../../images/btn2.png);
    }
}